{% extends "M2TIILTripBookerBundle::inter-layout.html.twig" %}

{% block sidebar %}
{% include "M2TIILTripBookerBundle::sidebar-custom.html.twig" %}
{% endblock %}

{% block titre %}
	Mon panier
{% endblock %}
{% block description %}

{% endblock %}
{% block content %}
	<div class="terminate-order">
		<a href="{{ path('commander') }}">Valider le panier et terminer la commande ></a>
	</div>
	<div class="list list-voyage list-panier">
		<h2>Mes voyages ajoutés</h2>
		{% for key,voyage in voyages %}
			<div class="voyage-item list-item list-item-panier">
				<div class="list-item-image">
					<img src="{{ asset('uploads/' ~ voyage.image.getId ~ '.' ~ voyage.image.getUri) }}" />
				</div>
				<div class="list-item-info">
					<div class="list-item-title">
						{{ voyage.title }}
					</div>
					<div class="list-item-city">Du
						{{ voyage.startDate|date('d/m/Y') ~ ' au ' ~ voyage.endDate|date('d/m/Y') }}
					</div>
					<span class="list-item-price">{{ voyage.price }}€</span>
					<a href="{{ path('fiche-voyage',{'id':voyage.id}) }}" class="see">Voir le voyage ></a>
					<a href="{{ path('supprimer-voyage-panier',{'id':key}) }}" class="delete"></a>
				</div>
			</div>
		{% else %}
			<p> aucun voyage ajouté au panier </p>
		{% endfor %}
	</div>
	<div class="list list-voyage list-panier">
		<h2>Mes étapes ajoutées</h2>
		{% for key,etape in etapes %}
			<div class="etape-item list-item list-item-panier">
				<div class="list-item-image">
					<img src="{{ asset('uploads/' ~ etape.image.getId ~ '.' ~ etape.image.getUri) }}" />
				</div>
				<div class="list-item-info">
					<div class="list-item-title">
						{{ etape.title }}
					</div>
					<div class="list-item-city">
						{{ etape.startDate|date('d/m/Y') ~ ' - ' ~ etape.endDate|date('d/m/Y') }}
					</div>
					<span class="list-item-price">{{ etape.price }}€</span>
					<a href="{{ path('fiche-etape',{'id':etape.id}) }}" class="see">Voir l'étape ></a>
					<a href="{{ path('supprimer-etape-panier',{'id':key}) }}" class="delete" ></a>
				</div>
			</div>
		{% else %}
			<p> Aucune étape ajouté au panier </p>
		{% endfor %}
	</div>
	<div class="terminate-order">
		<a href="{{ path('commander') }}">Valider le panier et terminer la commande ></a>
	</div>
{% endblock %}