{% extends "M2TIILTripBookerBundle::inter-layout.html.twig" %}

{% block sidebar %}
{% include "M2TIILTripBookerBundle::sidebar-custom.html.twig" %}
{% endblock %}

{% block titre %}
	{{ etape.title }}
{% endblock %}

{% block description %}
	{{ etape.text }}
{% endblock %}

{% block content %}
	<div class="main-informations">
		<div class="main-information-image">
			<img src="{{ asset('uploads/' ~ etape.image.getId ~ '.' ~ etape.image.getUri) }}" />
		</div>
		<div class="main-information-content">
			<span class="date">Du {{ etape.startDate|date('d/m/Y') }} au {{ etape.endDate|date('d/m/Y') }}</span>
			<span class="city">{{ etape.startCity ~ ' -> ' ~ etape.endCity }}</span>
			<div class="add-to-cart">
				<span class="price">{{ etape.price }}€</span>
				<a href="#">Ajouter au panier ></a>
			</div>
		</div>

	</div>
	<div class="secondary-informations">
		<h2>Composition de l'étape</h2>
		<!------------------ HOTELS ---------------------------------->
		<h3>Hôtel(s)</h3>
		{% for hotel in etape.hotels %}
			<div class="hotel-item list-item">
				<div class="list-item-image">
					<img src="{{ asset('uploads/' ~ hotel.image.getId ~ '.' ~ hotel.image.getUri) }}" />
				</div>
				<div class="list-item-info">
					<div class="list-item-title">
						{{ hotel.title }}
					</div>
					<div class="list-item-city">
						{{ hotel.city }}
					</div>
					<div class="list-item-description">
						{{ hotel.text }}
					</div>
					<a href="{{ path('fiche-hotel',{'id':hotel.id}) }}">Voir l'hôtel ></a>
				</div>
			</div>
		{% else %}
			<p>Aucun hôtel pour cette étape</p>
		{% endfor %}

		<!------------------ Excursions ---------------------------------->
		<h3>Excursion(s)</h3>
		{% for excursion in etape.guidedTours %}
			<div class="excursion-item list-item">
				<div class="list-item-image">
					<img src="{{ asset('uploads/' ~ excursion.image.getId ~ '.' ~ excursion.image.getUri) }}" />
				</div>
				<div class="list-item-info">
					<div class="list-item-title">
						{{ excursion.title }}
					</div>
					<div class="list-item-city">
						{{ excursion.place }}
					</div>
					<div class="list-item-description">
						{{ excursion.text }}
					</div>
					<a href="{{ path('fiche-excursion',{'id':excursion.id}) }}">Voir l'excursion ></a>
				</div>
			</div>
		{% else %}
			<p>Aucune excursion pour cette étape</p>
		{% endfor %}
	</div>
{% endblock %}