{% extends "M2TIILTripBookerBundle::inter-layout.html.twig" %}

{% block sidebar %}
{% include "M2TIILTripBookerBundle::sidebar-custom.html.twig" %}
{% endblock %}

{% block titre %}
	{{ etape.title }}
{% endblock %}

{% block description %}
	{{ etape.text }}
{% endblock %}

{% block content %}
	<div class="main-informations">
		<div class="main-information-image">
			<img src="{{ asset('uploads/' ~ etape.image.getId ~ '.' ~ voyage.image.getUri) }}" />
		</div>
		<div class="main-information-content">
			<span class="start-date">{{ etape.startDate|date('d/m/Y') }}</span>
			<span class="end-date">{{ etape.endDate|date('d/m/Y') }}</span>
			<span class="category">{{ etape.startCity ~ ' -> ' ~ etape.endCity }}</span>
			<div class="add-to-cart">
				<span class="price">{{ etape.price }}</span>
				<a href="#">Ajouter au panier</a>
			</div>
		</div>

	</div>
	<div class="secondary-informations">
		<h2>Composition de l'étape</h2>
		{% for conveyance in etape.conveyances %}
			{{ dump(conveyance) }}
		{% endfor %}
	</div>
{% endblock %}