
<header id="header">
	<div class="header-nav">
		<div class="wrapper">
			<div class="logo"><a href="{{ path('tripBooker_home') }}"><img src="{{ asset('assets/img/logo.png') }}" /></a></div>
			<ul class="header-menu">
				<li><a href="{{ path('tripbooker_voyages_list') }}">Voyages</a></li>
				<li><a href="{{ path('tripbooker_hotels_list') }}">Hôtels</a></li>
				<li><a href="{{ path('tripbooker_excursions_list') }}">Excursions</a></li>
				<li class="cart"><a href="{{ path('panier') }}"></a></li>
				<li class="user"><a href="{{ path('historique') }}"></a></li>
			</ul>
		</div>
	</div>
	<div id="header-slider" class="slider owl-carousel">
		<div><img src="{{ asset('assets/img/slide3.png') }}" /></div>
		<div><img src="{{ asset('assets/img/slide1.png') }}" /></div>
		<div><img src="{{ asset('assets/img/slide2.png') }}" /></div>
	</div>
</header>
