{% extends "M2TIILTripBookerBundle::layout.html.twig" %}

{% block content %}
<div id="section-1" class="section">
		<div class="wrapper">

			<div class="block-reservation">
				<h2>Personnalisez votre voyage</h2>
				<p>Choisissez les villes étapes de votre voyage pour découvrir les options associées</p>
				<form id="package-form-1" action="{{ path('rechercheEtape') }}" method="POST">
					<div class="form-select-travel">
						<div class="picto-place-depart picto">
							<select type="text" name="start-place" value="Départ">
								<option value="0">Départ</option>
								{% for city in form_custom_Startcities %}
									<option value="{{ city.0 }}">{{ city.0 }}</option>
								{% else %}
									<option value="0">Pas de ville de départ</option>
								{% endfor %}
							</select>
						</div>
						<div class="picto-date-depart picto">
							<select type="text" name="start-date" value=" Départ">
								<option value="0">Départ</option>
							</select>
						</div>
						<div class="picto-place-arrivee picto">
							<select type="text" name="end-place" value="Destination">
								<option value="0">Destination</option>
								{% for city in form_custom_Endcities %}
									<option value="{{ city.0 }}">{{ city.0 }}</option>
								{% else %}
									<option value="0">Pas de ville de destination</option>
								{% endfor %}
							</select>
						</div>
						<div class="picto-date-arrivee picto">
							<select type="text" name="end-date" value="Arrivée">
								<option value="0">Arrivée</option>
							</select>
						</div>
					</div>
					<input type="submit" value="Personnaliser" />
				</form>
			</div>

			<div class="home-text">
				<h1>Simple et Rapide</h1>
				<p>Tripbooker vous permet de planifier et de réserver vos voyages en seulement quelques clics.</p>
				<h1>Personnalisable</h1>
				<p>Avec Tripbooker, trouver les vacances de vos rêves sans contraintes, Choisissez votre Hôtel et vos Excursions pour toutes les périodes de l’année.</p>
			</div>
		</div>
	</div>
	<div id="section-2" class="section">
		<div class="wrapper">
			<h1>Packs Premium</h1>

			<div id="packs-slider" class="slider-travel-promo">
				{% for pack in packs %}
					<div class="item">
						<a href="{{ path('fiche-voyage',{'id':pack.id}) }}"> 
							<div class="promo-image">
								<img src="{{ asset('uploads/' ~ pack.image.getId ~ '.' ~ pack.
								image.getUri) }}" />
							</div>
							<div class="slider-travel-promo-infos">
								<span class="titre">{{ pack.title }}</span>
								Du <span class="startDate">{{ pack.startDate|date('d/m/Y') }}</span>
								 au <span class="endDate">{{ pack.endDate|date('d/m/Y') }}</span>
							</div>
							<span class="slider-travel-promo-price">{{ pack.price }} €</span>
						</a>
					</div>
				{% else %}
					<li>Pas de Pack trouvé.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}