<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js trident ie6 not-front"><![endif]-->
<!--[if IE 7]><html class="no-js trident ie7 not-front"><![endif]-->
<!--[if IE 8]><html class="no-js trident ie8 not-front"><![endif]-->
<!--[if IE 9]><html class="no-js trident ie9 not-front"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="not-front"><!--<![endif]-->
	<head>
		<title>Tripbooker</title>
		<link href="{{ asset('assets/css/screen.css') }}" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{{ asset('assets/js/jquery-1.11.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/js/document.js') }}"></script>
		<!-- Owl carousel -->

		<!-- Important Owl stylesheet -->
		<link rel="stylesheet" href="{{ asset('assets/owl-carousel/owl.carousel.css') }}">
		 
		<!-- Default Theme -->
		<link rel="stylesheet" href="{{ asset('assets/owl-carousel/owl.theme.css') }}">

		<!-- Include js plugin -->
		<script src="{{asset ('assets/owl-carousel/owl.carousel.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.cycle2.min.js') }}"></script>
		<!-- Meta -->
		<meta name='description' content="Réservation de voyages en toute simplicité" />
		<meta name="keywords" content="Voyage,Package,tripbooker,réservation,simple" />
		<meta name="robots" content="index,follow" /> 
	</head>
	<body>
		{% include "M2TIILTripBookerBundle::header.html.twig" %}

		<div id="wrapper-960">
			<div class="sidebar">
				{% block sidebar %}
				{% endblock %}
			</div>
			<div class="main-content">
				<h1>{% block titre %}{% endblock %}</h1>
				<span class="inter-description">{% block description %}{% endblock %}</span>
				{% block content %}
				{% endblock %}
			</div>
		</div>

		{% include "M2TIILTripBookerBundle::footer.html.twig" %}
	</body>
</html>

